<h2>List of products</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Description</th>
    <th>Number</th>
    <th>What do you want to do</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products">
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td>{{product.description}}</td>
    <td>{{product.number}}</td>
    <td>
      <button (click)="updateProduct(product.id)" class="btn btn-warning">Update</button>
      <button (click)="deleteProduct(product.id)" class="btn btn-danger margin-button">Delete</button>
      <button (click)="productDetails(product.id)" class="btn btn-info margin-button">Details</button>
    </td>
  </tr>
  </tbody>
</table>
